/* CSS Document */
:root{
  --primario: #3d86a4;
  --realce: #47bbea;
  --gris: #434343;	
}
html{
	font-size: 12px;
}
body{
	font-family: 'futuramedium';
	
}

#top {
	min-height: 190px;
	background-image: url(../img/bg-top.png);
	background-size: cover;
}

.background-color {
	background-color: #3494bb;
}

#sociales {
	height: 56px;
	background-image: url(../img/bg-social.jpg);
}

#esquina {
	width: 69px;
	height: 191px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	background-image: url(../img/esquina.png);
}

#logoNav{
	height: 35px;
}

.navbar {
	box-shadow: none;
    padding: .8rem 1rem;
}
.navbar-toggler {
    position: absolute;
    top: 12px;
    right: 50px;
    z-index: 2;
}
.redes{
	width: 20px;
	height: 20px;
	float: left;
	margin:1rem 0.3rem;
	background-size: cover;
}

#face{
	background-image: url(../img/redes/facebook.png);
}
#instagram{
	background-image: url(../img/redes/instagram.png);
}
#linkedin{
	background-image: url(../img/redes/linkedin.png)
}
#twitter{
	background-image: url(../img/redes/twitter.png)
}
#youtube{
	background-image: url(../img/redes/youtube.png)
}
#tel{
	width: 18px;
}
.nav-link{
	font-size: 1.1rem;
}
header{
	width: 100%;
	height: 500px;
	margin-top: 5rem;
}

.titulos{
	font-size: 3rem;
	color: var(--gris);
}
.subtituloServ{
	font-size: 1.5rem;
	color: #47bbea;
}

/* Estilos de Nosotros*/

.altura{
	height: 450px;
}
.realce{
	color: var(--realce);
}


.alturaNosotros{
		height: 300px;
	}
#nosotros{
	height: 300px;
	background-image: url(../img/bgNosotros.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: right 0;
	color: white;
}
#nosotros h2{
	margin-top: -3rem;
	font-size: 1.5rem;
}
#nosotros p{
	font-size: 0.95rem;
	padding-left: 2rem;
}


/* Estilos de Servicios*/

#servicios h5{
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: 0.8rem;
	color: var(--gris);
}

#diferenciadores{
	margin-top: 5rem;
	width: 100%;
	height: auto;
	background-image: url(../img/difBg.png);
	background-repeat: no-repeat;
	background-size: cover;
}

.separador {
	width: 100%;
	height: 360px;
}
.separador2 {
	width: 100%;
	height: 100px;
}
#btn-dif{
	font-size: 1.5rem;
	border-radius: 1rem;
}
.list-dif{
	color: white;
	font-size: 1.75rem;
}
#contact-top{
	width: 80%;
	height: 70px;
    margin-top: -100px;
	background-color: var(--realce);
	padding-top: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
#contact-top h5{
	font-size: 2rem;
}

/* section redes */
#redes{
	width: 100%;
	height: 100%;
	padding: 2rem 0 1rem 0;
	background-color: #456977;
	background-image: url(../img/footer.png);
    position: relative;
}
#contacto {
    width: 100%;
	height: 100%;
	padding: 2rem 0;
	background-color: #1b1b1b;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-top: -30px;
}

#copyright {
    position: absolute;
    bottom: 0;
}

#altura {
    height: 420px;
}


.md-form input[type=date], .md-form input[type=datetime-local], .md-form input[type=email], .md-form input[type=number], .md-form input[type=password], .md-form input[type=search-md], .md-form input[type=search], .md-form input[type=tel], .md-form input[type=text], .md-form input[type=time], .md-form input[type=url], .md-form textarea.md-textarea {

    border-bottom: 1px solid #47bbea;

}
.md-form label {

    color: #fff;
}

#moveNav{
    display: none;
}
.fixed-top{
    position: fixed;
}

.flip-x {
    width: 100%;
    background-color: red;
}




/* Estilos del hover*/



.ih-item.square.effect6 .info p {
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 15px 15px 15px;
    text-align: center;
    -webkit-transition: all 0.35s 0.1s linear;
    -moz-transition: all 0.35s 0.1s linear;
    transition: all 0.35s 0.1s linear;
}

.ih-item.circle .img {
  position: relative;
  width: 100%;
  height: 220px;
  border-radius: 50%;
}



/*Estilos de la ventana modal*/
.modal-dialog.cascading-modal.modal-avatar .modal-header {
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: -6rem 0 -1rem;
}

.modal-dialog.cascading-modal.modal-avatar .modal-header img {
    width: 100px;
    -webkit-box-shadow: 0 3px 7px 0 rgba(0,0,0,.2), 0 3px 10px 0 rgba(0,0,0,.19);
    box-shadow: 0 3px 7px 0 rgba(0,0,0,.2), 0 3px 10px 0 rgba(0,0,0,.19);
    margin-left: auto;
    margin-right: auto;
}
