/* CSS Document */

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	body{
		font-size: 13px;
	}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	body{
		font-size: 14px;
	}
	.redes{
	width: 30px;
	height: 30px;
	float: left;
	margin:0.8rem;
	background-size: cover;
	}
	#tel{
	width: 27px;
	}
	.nav-link{
	font-size: 1.3rem;
	}
	header{
	width: 100%;
	height: 950px;
	}
	.altura{
		height: 850px;	
	}
	#nosotros{
		height: 450px;
		background-image: url(../img/bgNosotros.png);
		background-size: 100% 100%;
		background-repeat: no-repeat;
		background-position: right 0;
		color: white;
	}
	#nosotros h2{
		font-size: 2rem;
		margin-top: 2rem;
	}
	#nosotros p{
		font-size: 1.2rem;
		padding-left: 0rem;
	}
}
/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
	body{
		font-size: 16px;
	}
	#nosotros{
		height: 550px;
		background-image: url(../img/bgNosotros.png);
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: right 0;
		color: white;
	}
	#nosotros h2{
		font-size: 2.5rem;
		margin-top: 3.5rem;
	}
	#nosotros p{
		font-size: 1.3rem;
		margin-top: 0.5rem;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
	body{
		font-size: 16px;
	}
	#nosotros{
		height: 650px;
		background-image: url(../img/bgNosotros.png);
		background-size: 90%;
		background-repeat: no-repeat;
		background-position: right 0;
		color: white;
	}
	#nosotros h2{
		font-size: 2.5rem;
		margin-top: 5rem;
	}
	#nosotros p{
		font-size: 1.5rem;
		margin-top: 1rem;
	}
}
